*.suo
debug.log
*.db
*.db
*.vcxproj
*.obj
TimeSlayer-Debug/x64/Debug/TimeSlayer-Debug.log
*.vcxproj
x64/Debug/TimeSlayer-Debug.exe
*.tlog
x64/Debug/TimeSlayer-Debug.pdb
x64/Debug/TimeSlayer-Debug.ilk
TimeSlayer-Debug/x64/Debug/vc140.idb
*.vcxproj
TimeSlayer-Debug/x64/Debug/vc140.pdb
TimeSlayer-Debug/TimeSlayer-Debug.vcxproj
TimeSlayer-Debug.VC.db
TimeSlayer-Debug/TimeSlayer-Debug.vcxproj